body {
    font-family: 'Georgia', 'Times New Roman', serif;
    background: linear-gradient(135deg, #ef925b 0%, #f5879a 50%, #b2e3fa 100%);
    min-height: 100vh;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-top: 40px;  
    margin-bottom: 5px;
}

.soustitre {
    text-align: center;
    font-size: 1em;  
    color: #000000;    
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: italic;
}

.grosseboite {
    display: flex;
    justify-content: center;
    gap: 60px;              
    margin: 40px auto;
    max-width: 1200px;
}

.classement {
    flex: 1;                
    min-width: 300px;       
    max-width: 500px;       
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(255, 182, 193, 0.3);
    border: 2px solid rgba(255, 182, 193, 0.4);
}

.regles {
    max-width: 600px;           
    margin: 40px auto;          
    padding: 30px;
    background: #f0e6e6;
    border-radius: 40px;
    border: 4px dotted rgba(180, 110, 96, 0.692);
}

.regles h3 {
    text-align: center;
    margin-top: -5px;
    font-size: 1.5em;
}

.regles p {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 15px;
}